.page.home {
    text-align: center;
}

.page.home > span {
    display: block;
}

.page.home > span.header {
    font-size: 1.5em;
}

.page.home > span.description {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid aliceblue;
}



