div.menu-button {
    position: absolute;
    top: 25px;
    left: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

@media screen and (max-width: 500px) {
    div.menu-button {
        top: 15px;
        right: 15px;
    }
}

div.menu-container {
    display: none;
    position: fixed;
    margin-top: 60px;
    margin-right: 25px;
    padding: 5px 25px;
    background: aliceblue;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    z-index: 99;
}

@media screen and (max-width: 500px) {
    div.menu-container {
        margin-top: 50px;
        margin-right: 10px;
    }
}

div.menu-container.show {
    display: block;
}

div.menu-container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end;
}

div.menu-container > ul > li > div {
    margin: 10px 0;
    cursor: pointer;
}

div.menu-container > ul > li > div,
div.menu-container > ul > li > div > i {
    font-size: 1em !important;
}

div.home-container {
    position: relative;
    width: min(500px, 100vw);
    max-width: min(500px, 100vw);
    max-height: min(100%, 500px);
    left: calc(50% - min(500px, 100vw) / 2);
    top: 25%;
    text-align: center;
    color: white;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    div.home-container {
        top: 40px;
    }
}

div.home-container > span.rule {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

table.name > tbody > tr > td.name {
    font-size: 64px;
}

@media screen and (max-width: 420px) {
    table.name > tbody > tr > td.name {
        font-size: 48px;
    }
}

table.name > tbody > tr > td.name > * {
    font-family: "Aspergit", sans-serif;
}

table.name > tbody > tr > td.suffix {
    font-size: 20px;
}

img.logo {
    max-width: 64px;
}

table.name {
    margin: 16px 0;
}

table.name > tbody > tr > td:nth-child(odd) {
    width: 25%;
}

table.name td {
    vertical-align: bottom;
}

td.suffix {
    text-align: left;
    padding-bottom: 10px;
}

td.name > * {
    display: inline;
    white-space: nowrap;
}

td.name > span > img {
    height: 1em;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(10px);
}

div.page-home-nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0;
}

div.home-container > p {
    font-size: 1.25em;
}

div.page.right > div.page-container > div.page-container-dummy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: auto;
}

div.gallery {
    margin: 15px;
    margin-top: 50px;
}

div.gallery > div {
    background-color: #F0F8FF8A;
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin: 0 0 15px;
}

@media screen and (min-width: 600px) {
    div.gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }

    div.gallery > div {
        margin: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    div.gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1201px) {
    div.gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (prefers-color-scheme: dark) {
    div.menu-container {
        background-color: #23272A;
        color: white;
    }
    
    
    div.gallery > div {
	background-color: #23272A8A;
	color: white;
    }
}
